{% if page_obj.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?chklstinpropage=1&chklstpage={{ cur_page_clpro }}">&laquo; first</a>
                <a href="?chklstinpropage={{ page_obj.previous_page_number }}&chklstpage={{ cur_page_clpro }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?chklstinpropage={{ page_obj.next_page_number }}&chklstpage={{ cur_page_clpro }}">next</a>
                <a href="?chklstinpropage={{ page_obj.paginator.num_pages }}&chklstpage={{ cur_page_clpro }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}