{% load dis_play %}
{% load widget_tweaks %}
<form method="post" action="">
  {% csrf_token %}
    <div class="modal-header">
        <h3>{% dis_play title %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">+</span>
    </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            {% dis_play "Heading" %}* :<br />
            {{ form.head_key }}
        </div>
        {% if user.is_superuser %}
        <div class="form-group">
            {% dis_play "Company" %}* : {{ form.head_company }}
        </div>
        {% endif %}

        <div class="modal-footer">
            <button type="button" class="submit-btn btn btn-primary">
                {% if create is True %}
                    {% dis_play "Create" %}
                {% else %}
                    {% dis_play "Update" %}
                {% endif %}
            </button>
        </div>
    </div>
</form>