/* app_home style */

.weather,.map{
    width: 100%;
	height: 350px;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.weather{
    background-color: paleturquoise;
}

.msg-connect{
    margin-top: 5%;
}

textarea.legal{
  width:100%;
  height: 15em;
}

.legal-nav{
  color: dodgerblue !important;
}

.new-bg-modal{
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top:0px;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center ;
}

  .new-modal-content{
    width:600px;
    height:300px;
    background-color: white;
    border:none; 
    border-radius: 15px;
    padding:15px;
    position: relative;
  }  

  .close{
    position: absolute;
    top:5px;
    right: 14px;
    font-size:25px;
    transform: rotate(45deg);
    cursor: pointer;
  }

/* End app_home style */