{# bootstrap dialog box --> create/update address #}
{% load dis_play %}
{% load widget_tweaks %}
<form method="post" action="" class="modal-form">
    {% csrf_token %}
    <div class="modal-header">
        <h3>{% dis_play title %}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">+</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            {% dis_play "Address_name" %}* : &nbsp; {{ form.address_name }} &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="form-group">
            {% dis_play "Street_number" %} :&nbsp;
            {{ form.street_number }}&nbsp;&nbsp;&nbsp;
            {% dis_play "Street_type" %} :&nbsp;
            {{ form.street_type }}
        </div>
        <div class="form-group">
            {% dis_play "Address1" %} : {% render_field form.address1|attr:"size:49" %}
        </div>
        <div class="form-group">
            {% dis_play "Address2" %} : {% render_field form.address2|attr:"size:49" %}
        </div>
        <div class=" row form-group">
            <div class="col-4">{% dis_play "Zipcode" %} :</div>
            <div class="col-8">{% dis_play "City" %} :</div>
            <div class="col-4">{% render_field form.zipcode|attr:"size:8" %}</div>
            <div class="col-8">&nbsp;{% render_field form.city|attr:"size:20" %}</div>
        </div>
        <div class="form-group">
            {% dis_play "Country" %} : &nbsp;{% render_field form.country|attr:"size:20" %}
        </div>

        <div class="modal-footer">
            <button type="button" class="submit-btn btn btn-primary">{% dis_play btn %}</button>
        </div>
    </div>
</form>